{{#each this}}
  <li class="post-item" id="{{id}}">
    <img class="post-image" src="{{image}}" alt="{{title}}">
    <h2 class="post-title">{{title}}</h2>
    <p class="post-content">{{content}}</p>
    <button class="edit-button">Edit</button>
    <button class="delete-button">Delete</button>
  </li>
{{/each}}